{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container mt-5">
    <h2 class="text-center mb-4">Add a New Task</h2>

    <div class="card shadow-sm p-4">
      <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='vertical' %}
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-outline-primary btn-lg">Add Task</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
